.mdmmModal-formContainer {
  display: flex;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
  /* background-color: #edf2f3a8; */
  background-color: white;
  max-height:800px;
  max-width:800px;
  margin:0 auto
}

.mdmmModal-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 95%;
  width: 95%;
}

.mdmmModal-form-data {
  height: 95%;
}

.mdmmModal-form-header {
  display: flex;
  align-items: center;
  height: 50px;
}

.mdmmModal-form-close {
  display: flex;
  align-items: center;
  height: 50px;
  /* margin-bottom: auto; */
  margin-left: auto;
}